{% extends "Neo4jUserBundle::layout.html.twig" %}

{% block neo4j_user_content %}
          <div class="row">
            <div class="col-md-12" style="text-align:center">
                <div class="alert alert-warning" role="alert">
                Your account has successfully been created. Please check your email to confirm account creation.
                </div>
            </div>
          </div> 
{% endblock neo4j_user_content %}
