<h3>Hello {{ username }}</h3>

Your password has been reset. Please use following password to login:

<br><br>
Your Password: {{ password }}</a><br>
 <br>
 Once logged in, you can change your password in your profile.<br><br>
Have fun!

